.features-block {
  background-color: #f7f7f7;
}
.features-block__container {
  max-width: 1200px;
  margin: 0 auto;
}
.features-block__body {
  padding: 112px 16px 100px 16px;
}
.features-block__title {
  font-size: clamp(30px, 5vw, 39px);
  line-height: clamp(33px, 5vw, 42px);
}
.features-block__text {
  font-size: 24px;
  line-height: 30px;

  font-size: clamp(16px, 5vw, 24px);
  line-height: clamp(24px, 5vw, 30px);

  margin-top: 15px;
  max-width: 581px;
}
.features-block__items {
  display: flex;
  justify-content: space-between;

  margin-top: 44px;
}
.features-block__item {
  flex: 0 1 379px;
  height: 459px;

  position: relative;
  background-size: cover;
}
.features-block__item + .features-block__item {
  margin-left: 16px;
}
.features-block__item:nth-child(1) {
  background-image: url("../assets/projects/IMAGE.png");
}
.features-block__item:nth-child(2) {
  background-image: url("../assets/projects/IMAGE-1.png");
}
.features-block__item:nth-child(3) {
  background-image: url("../assets/projects/IMAGE-2.png");
}
.features-block__item div,
.features-block__item button {
  opacity: 0;
}
.features-block__item__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  margin: 40px 0 0 42px;
  transition: opacity 0.5s ease-in-out;
}
.features-block__item__subtitle {
  font-size: 23px;
  line-height: 30px;

  margin-left: 42px;
  transition: opacity 0.5s ease-in-out;
}
.features-block__item__button {
  position: absolute;
  bottom: 41px;
  left: 45px;
  width: 137px;
  line-height: 22px;
}
.features-block__item:hover .features-block__item__title,
.features-block__item:hover .features-block__item__subtitle,
.features-block__item:hover .features-block__item__button {
  opacity: 1;
}
.features-block__button {
  display: block;
  margin: 40px auto 0 auto;

  transform: translateX(-5px);
}

@media (max-width: 800px) {
  .features-block__body {
    padding: 50px 20px;
  }
  .features-block__items {
    display: flex;
    align-items: center;

    margin: 40px auto 0 auto;
    max-width: 420px;
    overflow-y: auto;
  }

  .features-block__item {
    flex: 0 0 auto;
    width: 379px;
    height: 460px;
  }
}

@media (max-width: 450px) {
  .features-block__body {
    padding: 40px 20px;
  }
  .features-block__items {
    display: flex;
    align-items: center;

    margin: 40px auto 0 auto;
    max-width: 300px;
    overflow-y: auto;
  }

  .features-block__item {
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
  }
}

@media (hover: none) {
  .features-block__item .features-block__item__title,
  .features-block__item .features-block__item__subtitle,
  .features-block__item .features-block__item__button {
    opacity: 1;
  }
}
