.footer__container {
  max-width: 1208px;
  margin: 0 auto;
}
.footer__body {
  display: flex;
  justify-content: space-between;

  padding: 60px 20px;
}
.footer__content {
  font-size: 14px;
  line-height: 20px;
}
.footer__content span:nth-child(1) {
  display: block;
}
.footer .header__logo {
  width: 256px;
  height: 22px;
}
.footer__subtitle {
  margin-top: 20px;
  line-height: 19px;
}
.footer_social-media {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

address a img {
  display: block;
  width: 100%;
  height: 100%;
}

address + address {
  margin-left: 20px;
}

@media (max-width: 998px) {
  .footer__body {
    padding: 30px 20px;
  }
  .footer__subtitle {
    max-width: 270px;
  }
}

@media (max-width: 450px) {
  .footer__body {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }
  .footer_social-media {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
  }
  .footer__subtitle {
    margin: 20px auto 10px auto;
  }
}

@media (max-width: 280px) {
  .footer .header__logo {
    display: none;
  }
}
