.header {
}
.container {
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px 35px 32px;
  max-height: 90px;
}
.header__logo {
  cursor: pointer;
  height: 19px;
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header__nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header__nav ul li a {
  font-size: 15px;
  line-height: 24px;
  
  transition: color 0.3s ease;
}
.header__nav ul li a:hover {
  color: grey;
}
.header__nav ul li + li {
  margin-left: 33px;
}

.header__button {
  margin-left: 31px;
}

.icon-menu {
  display: none;
}

@media (max-width: 998px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;

    margin: 0;
    background-color: #fcf8f3;
    transition: left 0.3s ease;
    padding: 70px 15px 30px 15px;
  }
  .header__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .header__nav ul li {
    margin: 0 0 10px 0;
  }
  header .header__button {
    margin: 0;
  }
  .header__nav::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    transition: left 0.3s ease;
    background-color: #fcf8f3;
    z-index: 2;
  }
  .header__nav._active {
    left: 0;
    z-index: 6;
  }
  .header__nav._active::before {
    left: 0;
  }

  .icon-menu {
    display: flex;
    position: relative;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 7;
    background-color: #ffffff;
    border: 0;
  }
  .icon-menu span {
    transition: all 0.3s ease;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: 12px;
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    top: 12px;
  }
}
@media (max-width: 450px) {
  .header__body {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: unset;
  }
  .header .header__logo {
    width: 170px;
    height: 15px;

    margin-bottom: 7px;
  }
  .header .header__logo img {
    width: 100%;
    height: 100%;
  }
}
