*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a,
button {
  cursor: pointer;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  height: 46px;
  width: 157px;

  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;

  border-radius: 14px;
  padding: 11px 20px;
  transition: 0.5s ease;
  border: 1px solid black;
}

.btn_inherit {
  color: #000000;
  background-color: inherit;
}

.btn_inherit:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn_black {
  color: #ffffff;
  background-color: #000000;
}

.btn_black:hover {
  color: #000000;
  background-color: #ffffff;
}
