.img-block {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.reeding-block {
  background-color: #eee;
  background-image: url("../assets/container-images/container01.png");
  background-size: cover;
}

.img-block__content {
  width: 349px;
}
.reeding-block__content {
  margin-left: auto;
  margin-right: 10px;
  padding-right: 60px;
}
.img-block__title {
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.img-block__text {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 998px) {
  .img-block__content {
    width: 290px;
    margin-right: 20px;
    padding-right: 0;
  }
}

@media (max-width: 800px) {
  .img-block {
    height: 400px;
  }
}

@media (max-width: 450px) {
  .img-block .img-block__content {
    text-align: center;
    padding: 0;
    margin: 0 20px;
  }

  .img-block {
    height: 350px;
    justify-content: center;
  }
}
