.swirling-block {
    background-color: #eee;
    background-image: url("../assets/container-images/container03.png");
    background-size: cover;
  }
  
  .swirling-block__content {
    padding-left: 181px;
    width: 481px;
  }

  @media (max-width: 800px) {
    .swirling-block__content {
        padding-left: 0;

        width: 300px;
        margin-left: 30px;
      }
  }

  
  
  